<div class="row">
    <div class="col-1 mb-5"> <img style="width:100px;" src="~/Resources/logo.png" /></div>

    <div class="col-10">
        <h1 class="text-black text-center mt-3 underline">
            8D CORRECTIVE ACTION REPORT- 5 WHY ANALYSIS
        </h1>
    </div>
    <div class="col-1 mb-5"> <img style="width:120px;" src="~/Resources/gaten.jpg" /></div>
</div>
